{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block main %}
<h1>Register</h1>
<form action="/register" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" required>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<a href="/login" class="btn btn-secondary mt-3">Back to Login</a>
{% endblock %}